    <div class="product-card">
        <div class="product-card-header">
           <h2>{{product_name}}</h2> 
        </div>
        <img src="{{image}}">
        <div class="card-body">
        <p>Price: ${{price}}</p>
        <button class="btn-remove" id="btn-remove" data-id="{{id}}">Remove from Cart</button>

        </div>
        
    </div>

