    <div class="product-card">
        <div class="product-card-header">
           <h2>{{product_name}}</h2> 
        </div>
        <img src="/assets/images/monitor.jpeg">
        <div class="card-body">
        <p>Price: ${{price}}</p>
        <button>Add to Cart</button>
        </div>
        
    </div>