    <div class="product">
        <h2>{{product_name}}</h2>
        <img src="/assets/images/monitor.jpeg">
        <div class="product-card">
        <p>Price: ${{price}}</p>
        <button class="cart" id="btn-add" data-id="{{id}}">Add to Cart</button>
        </div>
    </div>