    <div class="product">
        <h2>{{product_name}}</h2>
        <img src="/assets/images/monitor.jpeg">
        <img src="{{image}}">
        <p>Price: ${{price}}</p>
        <button>Add to Cart</button>
    </div>