    <div class="product">
        <h2>{{product.product_name}}</h2>
        <img src="/assets/images/monitor.jpeg">
        <img src="{{product.image}}">
        <p>Price: ${{product.price}}</p>
        <button>Add to Cart</button>
    </div>
