<!DOCTYPE html>
<html>
<head>
  <title>TECHSTOP</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <div class="header-page">
        <a href="/" class="no-underline"><h1><span class="color1">TECH</span> <span class="color2">STOP</span></h1></a>
        <div class= "navbar">
            <a href="/">Home</a>
            <div class="dropdown">
                <div class="dropdown-content">
                    <a href="/category/1">Phones</a>
                    <a href="/category/2">Computers</a>
                    <a href="/category/3">Laptops</a>
                    <a href="/category/4">Gadgets</a>
                    <a href="/category/5">TVs</a>
                    <a href="/category/6">Monitors</a>
                    <a href="/category/7">Consoles</a>
                    <a href="/category/8">Accessories</a>
                </div>
                <a href="#categories">Categories</a>
                {{#if logged_in}}
                <a href="/user/cart">Cart</a> 
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
                {{/if}}
            </div>
        </div>
    </div>
  </header>
  
  <main>
    {{{body}}}
  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>
</html>


