<!DOCTYPE html>
<html>
<head>
  <title>E-commerce Tech Store</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <div class="header-page">
        <h1>E-commerce Tech Store</h1>
        <div class= "navbar">
            <a href="/">Home</a>
            <div class="dropdown">
                <button class="catergories">Categories
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/category/1">Phones</a>
                    <a href="/category/2">Computers</a>
                    <a href="/category/3">Laptops</a>
                    <a href="/category/4">Gadgets</a>
                    <a href="/category/5">TVs</a>
                    <a href="/category/6">Monitors</a>
                    <a href="/category/7">Consoles</a>
                    <a href="/category/8">Accessories</a>
                </div>
                <a href="#categories">Categories</a>
                {{#if logged_in}}
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
                {{/if}}
            </div>
        </div>
    </div>
  </header>
  
  <main>
    {{{body}}}
  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>
</html>


