<!DOCTYPE html>
<html>
<head>
  <title>E-commerce Tech Store</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>E-commerce Tech Store</h1>
  </header>
  
  <main>
    {{{body}}}
  </main>

</body>
</html>


