
<div class="min-h-screen flex justify-center items-center"> 

<div class="demo-page grid grid-cols-4 gap-4 ">
    <div class="col-start-2 col-span-2">
        <h1 class="text-3xl font-bold">Thank you for viewing our demo!</h1>
    </div>
    <div class="col-start-2 col-span-2 text-xl">
        <p>
            Since our store is not operational we can't actually create a checkout section. 
            We appreciate your for taking the time to look through what we've made so far!
        </p>
    </div>
</div>
</div>