<section class="product-list">
    {{#if products5}} 
    {{> homepage-details5}}
    {{/if}}
</section>

<section class="product-list">
    {{#if products6}} 
    {{> homepage-details6}}
    {{/if}}
</section>

<section class="product-list">
    {{#if products7}} 
    {{> homepage-details7}}
    {{/if}}
</section>

<section class="product-list">
    {{#if products3}} 
    {{> homepage-details3}}
    {{/if}}
</section>

<section class="product-list">
    {{#if products4}} 
    {{> homepage-details4}}
    {{/if}}
</section>

<section class="product-list">
    {{#if products1}}
    {{> homepage-details1}}
    {{/if}}
</section>

<section class="product-list">
    {{#if products2}} 
    {{> homepage-details2}}
    {{/if}}
</section>

<section class="product-list">
    {{#if products8}} 
    {{> homepage-details8}}
    {{/if}}
</section>

<script src="/js/addToCart.js"></script>