<section class="product-list">
    {{#if products8}}
    {{!-- {{rename products8 products}} --}}
        {{> homepage-details2}}
    {{/if}}
</section>

<section class="product-list">
    {{#if products}} 
    {{> homepage-details2}}
    {{/if}}
</section>

<section class="product-list">
    {{#if products}} 
    {{> homepage-details2}}
    {{/if}}
</section>

<script src="/js/addToCart.js"></script>