<h2>Login</h2>
<div class="login-card">
<form class="form login-form">
  <div class="form-group">
    <label for="username-login">username:</label>
    <input class="form-input" type="text" id="username-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>
<p>Don't have an account? <a href="/signup">Sign Up</a> instead.</p>
</div>

<script src="/js/login.js"></script>
