
<div class="review-header m-auto w-50 p-10 border-solid-black">
    <h3 class="block mb-2 text-base font-medium text-gray-900 dark:text-black text-lg">User Review Section</h3>
    <div class="border-solid border-2 border-gray-700"></div>
    {{#if reviews}}
    <section class="review-list">
    {{#each reviews as |review|}}
    {{> review-details}}
    {{/each}}

    </section>
    {{else}}
        <h4 class="text-center mt-5 font-medium text-gray-900 dark:text-black text-lg">User has not posted reviews yet.</h4>
    {{/if}}
</div>

