.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  .dropdown .categories {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  
  .navbar a:hover, .dropdown:hover .categories {
    background-color: red;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }

nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

.header-page{
    background-color: rgba(204, 219, 239, 0.757);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    margin: auto;
    background-color: rgb(181 177 177 / 20%);
    font-family: Arial;
}


button.cart {
    margin-left: 85px;
}

.product {
    display: grid;
    margin-left: 20px;
}

p {
    margin-left: 28px;
}

.product-card {
    display: flex;
    align-items: center;
}

.product h2 {
    margin-left: 10px;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0 20px 0 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
}